

<div align="center">

<h4>What's your growl(ation) ... <br>The way to let the world know who has been Great!</h4>

<form action="/add" method="post">


  <input type="text" name="human_growl" maxlength="142" size="40">

  <input type="submit" name="Make a Growlll">


</form>
</div>
