<h1>Hello</h1>

<p> Welcome to Growl! </p>
<br>

<h3>Share something great ...</h3>



  <% @feed.each do |item|%>
    <div class=center-block><%= item %></div>
  <%end%>



<br>



<form action="/" method="post">


  <input type="text" name="human_growl">

  <input type="submit" name="Make a Growl" value="growl!">


</form>
