<h1>Hello</h1>

<p> Welcome to Growl </p>
<br>

<h3>This is your feed</h3>


<ul>
  <% @feed.each do |item|%>
    <li><%= item %></li>
  <%end%>
</ul>


<br>



<form action="/" method="post">


  <input type="text" name="human_growl">

  <input type="submit" name="Make a Growlll">


</form>
