<h1>Hello</h1>

<p>Welcome, <%= @user %> "the animal" <%=@fname%>!</p>
<br>

<h3>This is your feed</h3>



  <% @feed.each do |item|%>
    <div><%= item %></div>
  <%end%>



<br>



<form action="/home" method="post">


  <input type="text" name="human_growl">

  <input type="submit" type="button" value="MAKE SOME NOISE" name="Make a Growlll">


</form>
