<h3>Growl loggin</h3>
<br>

<h4>Loggin in</h4>
<form action="/home" method="get">


  <input type="text" name="fname" placeholder="First Name">
  <input type="text" name="lname" placeholder="Second Name">

  <input type="submit" type="button" value="Get Growling" name="new_user">


</form>
